
.page-container {
    margin: 36px auto;
    width: 100%;
    max-width: 800px; 
}

.page-container input {
    width: 100%;
    padding: 16px;
    font-size: 30px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
}

.card-container {
    display: grid;
    grid-template-columns: 400px 400px;
}

.card {
    width: 400px;
    height: 200px
}

.card-img-container:nth-child(4n+2) {
    float: left;
    width: 200px; 
    height: 200px;
}

.card-img-container {
    float: right;
    width: 200px; 
    height: 200px;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.card-text-container {
    float: left;
    width: 200px; 
    height: 200px;
    overflow-wrap: break-word;
}

.search-heading{
    font-size: 30px;
    padding: 10px 0px;
    color: #444;
    text-align: center;
}

.search-label {
    position: relative;
}

.search-icon {
    position: absolute;
    top: -8px;
    font-size: 32px;
    color: #555;
    right: 18px;
}

.search-loading{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.next-button{
    float: right;
}

/*Show, hide & greyed out*/
.show {
    display: inline-block;
}

.hide {
    display: none;
}

.greyed-out {
    background: #f1f1f1;
    opacity: 0.5;
}